---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="GNU" id="gnu">
  <Fragment slot="lead">
    GNU is a free and open-source operating system that was created in the 1980s
    by Richard Stallman and the Free Software Foundation (FSF). The goal of the
    GNU project was to create a complete Unix-like operating system that would
    be entirely free software, meaning that users would have the freedom to use,
    study, modify, and distribute it as they saw fit. The development of GNU was
    based on the principle of collaboration and community-driven software
    development. The project relies on volunteers and contributors from around
    the world who work together to develop and improve the software. The
    resulting operating system is made up of a collection of software tools and
    applications, including the GNU Compiler Collection, the GNU Emacs text
    editor, and the GNU Debugger (GDB), among others. One of the key features of
    GNU is its licensing model. The software is released under the GNU General
    Public License (GPL), which allows users to modify and distribute the
    software as long as they continue to release it under the same license. This
    ensures that the software remains free and open-source, and that users
    continue to have the freedom to use, study, and modify it.
  </Fragment>
  <a class="text-primary" href="https://www.gnu.org/"> ...and more &rarr;</a>
</ContentSection>
